In [1]:
import pandas as pd

In [4]:
pwd

'/Users/apple/Documents/Streamlit/notebooks'

In [5]:
penguins = pd.read_csv("/Users/apple/Documents/Streamlit/data_given/data_cleaned.csv")

In [6]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,Adelie,Torgersen,39.3,20.6,190,3650,male

In [7]:
penguins.shape

(333, 7)

In [8]:
df = penguins.copy()

In [10]:
target = 'species'
encode = ['island','sex']

In [11]:
for col in encode:
    dummy = pd.get_dummies(df[col], prefix=col)
    df = pd.concat([df,dummy], axis=1)
    del df[col]

In [12]:
df.head()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,island_Biscoe,island_Dream,island_Torgersen,sex_female,sex_male
0,Adelie,39.1,18.7,181,3750,0,0,1,0,1
1,Adelie,39.5,17.4,186,3800,0,0,1,1,0
2,Adelie,40.3,18.0,195,3250,0,0,1,1,0
3,Adelie,36.7,19.3,193,3450,0,0,1,1,0
4,Adelie,39.3,20.6,190,3650,0,0,1,0,1

In [13]:
df['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [17]:
target_lst = list(df['species'].unique())

In [20]:
target_mapper = dict()
for i in range(len(target_lst)):
    target_mapper[target_lst[i]] = i

In [21]:
print(target_mapper)

{'Adelie': 0, 'Gentoo': 1, 'Chinstrap': 2}

In [22]:
def target_encode(val):
    return target_mapper[val]

In [23]:
df['species'] = df['species'].apply(target_encode)

In [25]:
# Seperating X and y
X = df.drop('species', axis=1)
y = df['species']

In [27]:
# Build random forest model
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X,y)

RandomForestClassifier()

In [28]:
# Saving the model
import pickle
pickle.dump(clf,open('/Users/apple/Documents/Streamlit/saved_models/penguins_clf.pkl','wb'))